// NATIVE
// ============================================================

* {
	transition: all .1s ease-in-out;
}

// BODY
// ====================

body {
	color: $green;
	background-repeat: no-repeat;

	@include media(min-width $desktop) {
		@include margin(8em null);
		background-image: 	 url('../_img/asset_trim-top-left.svg'),
			                	 url('../_img/asset_trim-top-center.svg'),
			                	 url('../_img/asset_trim-top-right.svg'),
			                	 url('../_img/asset_trim-bottom-left.svg'),
			                	 url('../_img/asset_trim-bottom-center.svg'),
			                	 url('../_img/asset_trim-bottom-right.svg');
		background-position: top 1em left 1em,
		                     top .9em center,
		                     top 1em right 1em,
		                     bottom 1em left 1em,
		                     bottom .6em center,
		                     bottom 1em right 1em;
		background-size: 		 8em,
												 14em,
												 8em,
												 8em,
												 14em,
												 8em;
	}
	@include media(max-width $desktop) {
		@include margin(6em 2em);
		background-image: 	 url('../_img/asset_trim-top-center.svg'),
			                	 url('../_img/asset_trim-bottom-center.svg');
		background-position: top 1em center,
		                     bottom 1em center;
		background-size: 		 13em,
												 13em;
	}
}

// LINKS
// ====================

a {
	color: $red;
	text-decoration: none;
}

// TYPE
// ====================

h1, h2, h3, h4, p {
	@include text-align(center);
}

h1, h2 {
	font-family: $font-display;
}

h1 {
	@include margin(0);
	color: $red;
	text-shadow: -10px 10px 0 $light;
	line-height: 1em;
	@include media(min-width $tablet) {
		font-size: 6em;
	}
	@include media(max-width $tablet) {
		font-size: 4em;
	}
}

h2 {
	font-size: 3em;
	line-height: 1em;
	@include media(max-width $tablet) {
		font-size: 2em;
	}
}

h3, h4 {
	font-family: $font-heading;
	font-weight: 900;
	text-transform: uppercase;
}

h3 {
	font-size: 1.8em;
}

h4 {
	letter-spacing: .2em;
}

p {
	font-family: $font-body;
	font-weight: 400;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

strong {
	@include margin(2em null null);
	display: block;
	font-size: 1.2em;
	text-transform: uppercase;
}

// SELECTORS
// ============================================================

.section {
	@include outer-container;
	@include margin(3em null);
}

// TITLES
// ====================

.title,
footer {
	* {
		clear: both;
	}
}

.title {
	h3 {
		@include pad(0 1em);
	}
}

.stroke {
	@include media(min-width $tablet) {
		display: block;
		@include margin(4em null null);
		border-top: 6px solid $green;
		text-align: center;
	}
}

.stroke-inner {
	@include media(min-width $tablet) {
		@include margin(0);
		@include pad(0 1.4rem);
		display: inline-block;
		position: relative;
		top: -1rem;
		line-height: 1em;
		* {
			@include margin(0 null);
			@include pad(0 null);
		}
		> * {
			background-color: $white;
		}
	}
}

// BUTTONS
// ====================

.button-banner {
	@include media(min-width $desktop) {
		@include row();
		color: $light;
	  @include margin(null auto);
	  @include pad(2.5em 0 5.5em);
		background-image: url('../_img/asset_button-banner.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	@include media(max-width $desktop) {
		@include row();
		color: $white;
	  @include margin(null auto 3em);
	  @include pad(1.4em 0);
		background-color: $red;
		box-shadow: -16px 16px 0 $light;
	}
	h2 {
		@include margin(0);
	}
}

// IMAGES
// ====================

.photo {
	@include span-columns(8);
	@include shift(2);
	box-shadow: -16px 16px 0 $light;
	@include media(max-width $widescreen) {
		@include margin(2em null null);
	}
	@include media(max-width $tablet) {
		@include margin(0);
		@include fill-parent;
		@include shift(0);
	}
}

.items-message-item {
	text-align: center;
	@include media(min-width $desktop) {
		@include pad(3em 3em 0 3em);
		text-align: center;
		background-image: url('../_img/asset_message-sweater.svg');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: contain;
		img {
			@include size(50%);
			@include margin(1em null 4em);
		}
	}
	img {
		@include media(max-width $desktop) {
			@include size(80%);
		}
	}
}

@include media($tablet) {
	.items-message-item-rent:after {
		content: " a Sweater";
	}
	.items-message-item-party:before {
		content: "Throw a ";
	}
	.items-message-item-give:before {
		content: "Spread the ";
	}
}

// COMBOS
// ====================

.items-sales {
	display: flex;
	@include media(max-width $tablet) {
		flex-direction: column;
	}
}

.items-sales-item {
	flex: 1;
	@include pad(1em);
	border: 6px solid $green;
	background-color: $light;
	box-shadow: inset -10px 10px 0 $white, -16px 16px 0 $light;
	@include media(max-width $tablet) {
		@include margin(1em null);
	}
	h3 {
		@include margin(.2em null);
	}
}

.items-sales-image {
	@include row(table);
	@include span-columns(4);
	@include shift(4);
}

.section-footer {
	@include media(min-width $portrait){
		@include margin(6em null null);
	}
	@include media(max-width $portrait){
		@include margin(0 null null);
	}
}

.footer-nav {
	text-align: center;
	li {
		@include media(min-width $portrait) {
			display: inline-block;
		}
		@include margin(0 .2em);
		a {
			@include pad(0 1em);
			display: block;
		}
	}
}
